@import '../../../styles.scss';

:host {
    width: calc(100% - 140px);
    height: calc(100% - 70px);
    padding: 70px 70px 0px 70px;
}

section {
    height: 99%;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200);
    border-radius: 10px;
}

@media(max-width: 1600px) {
    :host {
        width: calc(100% - 80px);
        padding: 40px 40px 0px 40px;
    }
}

@media(max-width: 900px) {
    :host {
        width: calc(100% - 40px);
        padding: 20px 20px 0px 20px;
    }

    section {
        width: 100%;
        @include dFlex(column, flex-start, flex-start);

    }
}

@media(max-width: 500px) {
    ::-webkit-scrollbar {
        display: none;
    }
}