<!--
<button (click)="openInfo()">Open</button>
-->
<app-join-btn title="Add new contact" imgPath="assets/contacts/person_add.png" style="width: 100%;" (click)="openInfo()"></app-join-btn>
<div class="add-contact" id="add-contact">
    <div class="folder-info">
        <img src="../../../../assets/add-contact/Capa 2.png" alt="">
        <h2>Add contact</h2>
        <h3>Tasks are better with a team!</h3>
        <div class="add-contact-line"></div>
    </div>
    <div class="add-info">
        <img class="close" (click)="closeInfo()" src="../../../../assets/add-contact/iconoir_cancel.png" alt="">
        <div class="add-info-main">
            <img class="profile-image" src="../../../../assets/add-contact/Group 13.png" alt="">
            <div class="inputs">
                <div class="single-input">
                    <input type="text" placeholder="Name">
                    <img src="../../../../assets/add-contact/person.png" alt="">
                </div>
                <div class="single-input">
                    <input type="email" placeholder="Email">
                    <img src="../../../../assets/add-contact/mail.png" alt="">
                </div>
                <div class="single-input">
                    <input type="tel" placeholder="Phone">
                    <img src="../../../../assets/add-contact/call.png" alt="">
                </div>
                <!--
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="tel" placeholder="Phone">
            -->
                <div class="add-contact-buttons">
                    <div class="cancel add-contact-button">Cancel <img src="../../../../assets/add-contact/iconoir_cancel.png" alt=""></div>
                    <div class="create add-contact-button">Create contact <img src="../../../../assets/add-contact/check.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>