@import '../../../../styles.scss';
$hover-grey: #D1D1D1;

.add-contact {
    display: flex;
    width: 1000px;
    top: calc(50% - 250px);
    height: 500px;
    left: calc(50% - 500px);
    position: fixed;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(300%);
    z-index: 50;
    overflow: hidden;

    .folder-info {
        color: white;
        width: 40%;
        background-color: $main_grey;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;

        img {
            height: 50px;
            width: 50px;
        }
    }

    form {
        width: 100%;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .single-input {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            height: 40px;
            border: solid 1px;
            border-color: $hover-grey;
            border-radius: 10px;

            input {
                border: none;
                width: 100%;
                outline: none;
            }

            img {
                height: 50%;
            }
        }
    }

    .add-info {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 20px;
        background-color: white;
    }

    .add-info-main {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .inputs {
        width: 100%;
    }

    .profile-image {
        width: 100px;
        height: 100px;
        margin-right: 30px;
    }

    .close {
        cursor: pointer;
        margin-bottom: 15%;
    }

    .close:hover {
        background-color: $hover-grey;
        border-radius: 50px;
    }
}

.add-contact-buttons {
    display: flex;
    column-gap: 10px;

    .add-contact-button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px;
        border-radius: 10px;
        padding: 7px;
    }

    .add-contact-button:hover {
        box-shadow: 0px 3px $hover-grey;
    }

    .cancel {
        border-color: $main_grey;
        color: $main_grey;
    }

    .cancel:hover {
        border-color: $light_blue;
        color: $light_blue;
    }

    .create {
        color: white;
        background-color: $main_grey;
        border-color: $main_grey;
    }

    .create:hover {
        background-color: $light_blue;
        border-color: $light_blue;
    }
}

.d-none {
    display: none;
}

.add-contact-btn-mobile {
    display: none;
    position: absolute;
    bottom: 130px;
    right: 25px;
    z-index: 20;
}

.err-msg {
    color: rgb(181, 0, 0);
    font-size: 14px;
}

button {
    font-size: 16px;
}

button:disabled {
    background-color: gray;
    color: white;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.close-btn {
    position: absolute;
    display: none;
    top: 20px;
    right: 20px;
}

@media(max-width: 600px) {

    .add-contact.hidden {
        visibility: hidden;

    }

    .add-contact {
        flex-direction: column;
        height: auto;
        width: 90%;
        top: 5%;
        left: 5%;
        transform: translateX(0);
        transform: translateY(150%);

        .folder-info {
            width: 100%;
            padding-top: 70px;
            padding-bottom: 70px;

            img {
                display: none;
            }

            h2 {
                font-size: 47px;
                margin: 0;
            }

            h3 {
                font-size: 20px;
                margin-top: 0;
                font-weight: 400;
                margin-bottom: 10px;
            }

            .close-btn {
                display: block;
                width: 32px;
                height: 32px;
                cursor: pointer;
            }
        }

        .add-info {
            width: 100%;
            padding: 0;
            padding-bottom: 40px;
            @include dFlex(column, center, center)
        }

        .add-info-main {
            flex-direction: column;
            position: relative;
            padding-top: 90px;
            width: 90%;
        }

        .close {
            display: none;
        }

        .profile-image {
            margin-top: -150px;
            width: 120px;
            height: 120px;
            margin-right: 0;
            position: absolute;
        }
    }

    .add-contact-line {
        width: 100px;
        border-bottom: 3px solid #29abe2;
    }

    .add-contact-buttons {
        @include dFlex();
        padding-top: 20px;

        .cancel {
            display: none;
        }
    }
}

@media(max-width:350px) {
    .add-contact {
        .folder-info {
            h2 {
                font-size: 37px;
            }
            h3{
                font-size: 16px;
            }
        }
    }
}