<app-grey-background (click)="closeEdit()"></app-grey-background>
<section>
    <div class="content">
        <div class="close-btn" (click)="closeEdit()">
            <img src="assets/board/close.png" alt="">
        </div>

        <div>
            <label for="title">Title</label>
            <div class="input-div">
                <input id="title" [(ngModel)]="editedTask.title" type="text">
            </div>
        </div>

        <div>
            <label for="description">Description</label>
            <div class="input-div">
                <textarea name="description" [(ngModel)]="editedTask.description" id="description"></textarea>
            </div>
        </div>

        <div>
            <label for="dueDate">Due date</label>
            <div class="input-div">
                <!--  <input placeholder="{{task.date}}" type="text" onfocus="(this.type = 'date')"  id="date"> -->
                <form [formGroup]="dueDateFormGroup">
                    <input id="dueDate" [(ngModel)]="editedTask.date" formControlName="dueDate" type="date" />
                </form>
            </div>


        </div>

        <div>
            <span>Priority</span>
            <div class="priority-buttons">

                <div class="priority-button" type="button" id="urgent" (click)="selectPrio('Urgent')"
                    [style.backgroundColor]="editedTask.prio === 'Urgent' ? '#FF3D00' : 'white'"
                    [ngClass]="{'active': editedTask.prio == 'Urgent'}">Urgent
                    <img src="../../../assets/board/urgent.png" alt="">
                </div>
                <div class="priority-button" type="button" id="medium" (click)="selectPrio('Medium')"
                    [style.backgroundColor]="editedTask.prio === 'Medium' ? '#FFA800' : 'white'"
                    [ngClass]="{'active': editedTask.prio == 'Medium'}">Medium
                    <img src="../../../assets/board/medium.png" alt="">
                </div>
                <div class="priority-button" type="button" id="low" (click)="selectPrio('Low')"
                    [style.backgroundColor]="editedTask.prio === 'Low' ? '#7AE229' : 'white'"
                    [ngClass]="{'active': editedTask.prio == 'Low'}">Low
                    <img src="../../../assets/board/low.png" alt="">
                </div>
            </div>
        </div>

        <div>
            <span>Assigned to</span>
            <div class="assigned-input">
                <div class="input-div">
                    <input #myInput="ngModel" [(ngModel)]="contactInputValue" type="text" (click)="toggleContactList()" (keydown)="filterList()" placeholder="Select contacts to assign">
                </div>
                <img class="contact-list-button" src="/assets/board/arrow_drop_down.png" alt="" (click)="toggleContactList()">
                @if(contactListOpened){
                    <div class="contact-list">
                        @for (contact of getContacts(); track $index) {
                            <div class="contact-item" (click)="assignContact(contact)">
                                <div class="initials" [style.backgroundColor]="contact.color">{{contact.initials}}</div>
                                <span>{{contact.name}} {{contact.surname}}</span>
                                @if(isContactAssigned(contact)){
                                    <img src="assets/board/checked.png" alt="">
                                } @else {
                                    <img src="assets/board/unchecked.png" alt="">
                                }
                                
                            </div>
                        }
                    </div>
                }
                
            </div>
           <!--  <mat-form-field appearance="outline">
                <mat-label for="assigned">Assigned to</mat-label>
                <mat-select id="assigned" multiple>
                     @for (user of []; track $index) {
                 <mat-option [value]="user.id">
                   {{user.name}} {{user.surname}}
                 </mat-option>
               }   
                </mat-select>
            </mat-form-field> -->
            <div class="assigned-to-div">
                @for (assignedItem of task.assigned; track $index) {
                <div class="assignedItem" [style.backgroundColor]="assignedItem.color">{{assignedItem.initials}}</div>
                }
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="subtasks">Subtasks</label>
                <div class="subtask-input">
                    <input id="subtasks" type="text" placeholder="Add new subtask" (click)="changeSubtaskIcons()" />
                    <img id="plus-button" class="subtask-button" src="../../../assets/board/plus.png" alt=""
                        (click)="changeSubtaskIcons()">
                    <div class="subtask-buttons d-none" id="subtask-buttons">
                        <img class="subtask-button" src="../../../assets/board/close.png" alt="">
                        |
                        <img class="subtask-button" src="../../../assets/board/check-black.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="join-button-div">
        <app-join-btn title="Ok" imgPath="assets/add-contact/check.png" (click)="acceptChanges()"></app-join-btn>
        
    </div>
    
</section>