@import '../../../styles.scss';

section{
    @include dFlex(row, flex-start, flex-start);
    width: 100%;
    height: 100vh;
    >.header-content-wrapper{
        flex: 1;
        @include dFlex(column, flex-start, space-between);     
    }
}