@import '../../../styles.scss';

header {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    z-index: 10;
    //position: relative;
}

.logo{
    display: none
}

.header-content {
    @include dFlex(row, space-between, center);
    color: $main_grey;
    padding: 20px 100px 20px 150px;
    max-width: 1920px;
    >div{
        @include dFlex();
        gap: 25px;
    }
}

p{
    font-size: 20px;
}

span{
    border: 3px solid black;
    border-radius: 50%;
    padding: 8px 6px;
    font-size: 20px;
    color: $light_blue;
    font-weight: bold;
}

@media(max-width: 1025px) {
    header{
        width: 100%;
        z-index: 40;
    }

    .header-content{
        padding: 20px 20px 20px 20px;
    }

    .name, .help{
        display: none;
    }

    .logo{
        display: block;
    }

}