@import '../../../styles.scss';

@keyframes slideIn {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(300%);
    }
}

.slide-out {
    animation: slideOut 0.25s forwards;
}

.slide-in {
    animation: slideIn 0.25s forwards;
}

header {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    position: relative;
    z-index: 10;
}

.logo{
    display: none
}

.header-content {
    @include dFlex(row, space-between, center);
    color: $main_grey;
    padding: 20px 100px 20px 150px;
    max-width: 1920px;
    >div{
        @include dFlex();
        gap: 25px;
    }
}

p{
    font-size: 20px;
}

.initials{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    @include dFlex();
    border: 3px solid black;
    z-index: 11;
    &:hover{
        cursor: pointer;
        background-color: #E2E6EC;
    }
}

span{
    padding: 8px 6px;
    font-size: 20px;
    color: $light_blue;
    font-weight: bold;
}

.help{
    @include dFlex();
    width: 30px;
    height: 30px;
    &:hover{
        scale: 1.15;
        cursor: pointer;
    }
}

.menu{
    position: absolute;
    right: -100%;
    transition: right 0.5s ease-in-out;
    background-color: #2A3647;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    @include dFlex(column, flex-start, flex-start);
    padding: 10px;
    z-index: 11;
    span{
        z-index: 11;
        font-size: 16px;
        color: #CDCDCD;
        font-weight: 400;
        width: 90%;
        &:hover{
            cursor: pointer;
            background-color: #2A3D59;
        }
    }
}

.help-span{
    display: none;
}

.bg{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.d-none{
    display: none;
}

@media (min-width: 2500px) {
    .slide-in {
      left: 1920px !important;
      right: auto !important;
    }
  }

@media(max-width: 1025px) {
    header{
        width: 100%;
        z-index: 40;
    }

    .header-content{
        padding: 20px 20px 20px 20px;
    }

    .name, .help{
        display: none;
    }

    .logo{
        display: block;
    }

    .slide-in {
        right: 20px !important;
      }

    .help-span{
        display: block;
    }

}