<header>
    <div class="header-content">
        <img class="logo" src="assets/header/logo.png" alt="">
        <p class="name">Kanban Project Management Tool</p>
        <div>
            <div class="help" (click)="navigateToHelp()">
                <img src="assets/header/help.png" alt="">
            </div>
            
            <div class="initials">
                <span (click)="toggleMenu()">{{currentUserInitials}}</span>
            </div>
        </div>
    </div>

    <div class="menu" [ngClass]="{ 'slide-in': menuOpened }">
        <span class="help-span" (click)="navigateToHelp()">Help</span>
        <span (click)="navigateToX('legalnotice')">Legal Notice</span>
        <span (click)="navigateToX('privacypolicy')">Privacy Policy</span>
        <span (click)="signOut()">Log out</span>
        <div class="bg" [ngClass]="{ 'd-none': !menuOpened }" (click)="toggleMenu()">

        </div>
    </div>
    
</header>
