@import '../../../../styles.scss';

section{
    @include dFlex(row, space-between, center);
    width: 100%;
    color: black;

    >div{
        @include dFlex();
        gap: 50px;
    }

    >h2{
        font-size: 61px;
        font-weight: 700;
        margin: 0;
    }
}