<section>
    <span class="category"
        [style.backgroundColor]="task.category === 'User Story' ? '#0038FF' : '#1FD7C1'">{{task.category}}</span>
    <span class="title">{{task.title}}</span>
    <span class="description">{{task.description}}</span>
    @if(task.subtasks){
    @if(task.subtasks.length > 0){
    <div class="subtasks">
        <div class="progress-bar-div">
            <div class="progress-bar"></div>
        </div>
        1 von {{task.subtasks.length}} Subtasks
    </div>
    }
    }
    <div class="assigned-status-div">
        <div class="assigned">
            @if(task.assigned){
                @if(task.assigned.length > 0){
                    @for (assignedItem of task.assigned; track $index) {
                        <div class="assigned-item-div">
                            <div class="assigned-item" [style.backgroundColor]="task.assigned[$index].color">{{task.assigned[0].initials}}
                            </div>
                        </div>           
                    }
                }
            }
        </div>
        <img class="status" src="assets/board/urgent.png" alt="">
    </div>
</section>