@import '../../../styles.scss';

nav {
    height: calc(100vh - 128px);
    position: sticky;
    width: 200px;
}

.navbar-content {
    background-color: $main_grey;
    @include dFlex(column, space-between, center);
    height: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
}

.navbar-links{
    @include dFlex(column, center, center);
    width: 100%;
}

.links-div{
    @include dFlex(row, flex-start, center);
    gap: 15px;
    width: 100%;
    &:hover{
        cursor: pointer;
        background-color: #2A3D59;
    }

    >img{
        padding-left: 30px;
    }
}

.active{
    background-color: #091931;
    &:hover{
        background-color: #091931;
    }
}

.navbar-imprint {
    @include dFlex(column, flex-start, flex-start);
}

a {
    color: white;
    text-decoration: none;
}

@media(max-width: 1025px) {
    :host{
        width: 100%;
    }
    nav {
        height: auto;
        z-index: 20;
        width: 100%;
    }

    .navbar-content {
        @include dFlex(row, space-between, center);
       padding: 0;
    }

    .navbar-links{
        @include dFlex(row, space-around, center);
        font-size: 14px;
        width: 100%;
        padding-left: 0;
    }

    .logo, .navbar-imprint {
        display: none;
    }

    .links-div{
        @include dFlex(column, center, center);
        gap: 0;
        border-radius: 16px;

        >img{
            padding-left: 0;
            padding-top: 24px;
        }
    }
}