@import '../styles.scss';

section{
    @include dFlex(row, flex-start, flex-start);
    width: 100%;
    height: 100vh;
    
}

@media(max-width: 430px){
    .header-content-wrapper{
        width: 100%;
    }
}