@import '../../../../styles.scss';

:host {
    height: calc(100% - 30px);
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200);
    border-radius: 10px;
}

section {
    color: black;
    padding: 0px 48px 30px 48px;
    @include dFlex(column, flex-start, center);
    height: 100%;
    overflow: hidden;
    -webkit-box-shadow: 5px 0px 6px 0px rgba(0,0,0,0.08);
    box-shadow: 5px 0px 6px 0px rgba(0,0,0,0.08);
    padding-top: 30px;
}

.contact-item-list {
    z-index: 5;
    position: relative; 
    height: 100%;
    overflow: scroll;
    @include dFlex(column, flex-start, center);
}

.contact-item {
    @include dFlex(row, flex-start, center);
    padding: 20px;
    width: 352px;
    gap: 35px;
    border-radius: 10px;

    >div {
        @include dFlex(column, center, flex-start);
        gap: 5px;

        >.name {
            font-size: 20px;
        }

        >.mail {
            font-size: 16px;
            color: #007CEE;
        }
    }

    >.initials {
        @include dFlex(column, center, center);
        border: 1px solid white;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        color: white;
    }

    &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
}

.new-contact-btn-div {
    position: sticky;
    background-color: white;
    z-index: 8;
    top: 0px;
    width: 100%;
    @include dFlex();
    padding-bottom: 30px;
    padding-top: 30px;

}

.letter-div {
    border-bottom: solid 1px rgb(207, 207, 207);
    font-size: 20px;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    width: calc(100% - 75px);
}

.single-contact{
   
}

@media(max-width: 600px){
    :host{
        width: 100%;
        height: 100%;
    }

    section{
        width: 100%;
        overflow-x: hidden;
        padding: 0;
    }

    

}

@media(max-width: 400px) {
    .contact-item{
        width: 300px;
        gap: 10px;
    }
}