<section>
    <app-single-contact (contactCreated)="addNewContact($event)"></app-single-contact>
    <div class="contact-item-list">
        @for (contactItem of getSortedList(); track $index) {

            @if(hasLetterChanged(getFirstLetter(contactItem.name))){
                <div class="letter-div">
                    <span>{{ getFirstLetter(contactItem.name) }}</span>
                </div>     
            }
            <div class="contact-item" (click)="selectContact(contactItem)">
                <div class="initials" [style.backgroundColor]="bgColors[$index % bgColors.length]">
                    <span>
                        {{getInitials(contactItem.name, contactItem.surname)}}
                     </span>
                </div>
                <div>
                    <span class="name">{{contactItem.name}} {{contactItem.surname}}</span>
                    <span class="mail">{{contactItem.email}}</span>
                </div>
            </div>
            }
    </div>
    

</section>