<section>
    <app-single-contact (contactCreated)="addNewContact($event)" class="single-contact"></app-single-contact>
    <app-join-btn title="Add new contact" imgPath="assets/contacts/person_add.png" style="width: 100%;" (click)="openAddContact()"></app-join-btn>
    <div class="contact-item-list">
        @for (contactItem of getSortedList(); track $index) {
        @if(hasLetterChanged(getFirstLetter(contactItem.name))){
        <div class="letter-div">
            <span>{{ getFirstLetter(contactItem.name) }}</span>
        </div>
        }
        <div class="contact-item" (click)="selectContact(contactItem); onShowCard(); setActive($index)" [ngClass]="{ 'active': activeIndex === $index }">
            <div class="initials" [style.backgroundColor]="contactItem.color">
                <span>
                    {{contactItem.initials}}
                </span>
            </div>
            <div>
                <span class="name">{{contactItem.name}} {{contactItem.surname}}</span>
                <span class="mail">{{contactItem.mail}}</span>
            </div>
        </div>
        }
    </div>
    <img class="mobile-add-contact" src="assets/contacts/addcontact_mobile.png" alt="" (click)="openAddContact()">
</section>