<section>
    <img class="logo" src="assets/landing-page/Capa 2.png" (click)="navigateBack()" alt="">

    <header></header>
    <div class="sign-up-div">
        <div class="sign-up-header">
            <img src="assets/contacts/backtolist.png" (click)="navigateBack()" alt="">
            <h1>Sign up</h1>
            <div></div>
        </div>
        <div class="line"></div>
        <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
            <div class="input-group">
                <input type="name" placeholder="Name" [(ngModel)]="user.name" name="name" required>
                <img src="assets/add-contact/person.png" alt="">
            </div>
            <div class="input-group">
                <input type="email" placeholder="Email" [(ngModel)]="user.email" name="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
                <img src="assets/landing-page/mail.png" alt="">
            </div>
            <div class="input-group">
                <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
                <img src="assets/landing-page/lock.png" alt="">
            </div>
            <div class="input-group">
                <input type="password" placeholder="Confirm Password" [(ngModel)]="user.confirmPassword" name="confirmpassword" required>
                <img src="assets/landing-page/lock.png" alt=""> 
            </div>
            @if(user.password && user.confirmPassword && user.password !== user.confirmPassword){
                <span class="err-msg">Passwords do not match.</span>
            } @else {
                <span class="err-msg"></span>
            }
            <div class="input-group">
                <input type="checkbox" name="ppcheckbox" [(ngModel)]="user.acceptedPolicy" required>
                <label for="ppcheckbox">I accept the <span>Privacy Policy</span></label>
            </div>
            <div class="button-group">
                <button class="sign-up-btn" type="submit" [disabled]="!signUpForm.valid">Sign
                    up</button>
            </div>


        </form>
    </div>
    <footer>
        <span>Privacy Policy</span>
        <span>Legal notice</span>
    </footer>

    <div class="success" [ngClass]="{ 'slide-in': success }">
        You signed up successfully.
    </div>
</section>