<div class="landing-container">
  <img class="slide-top logo" src="assets/landing-page/Capa 2.png" alt="">
    <header>
      <div > 
       <!-- <img class="slide-top logo" src="./../../assets/landing-page/Capa 2.png" alt=""> -->
      </div>
      <div class="fade-in signup">
        <span>Not a Join user?</span>
        <button class="btn-class" (click)="navigateToSignUp()">Sign up</button>
      </div>
    </header>
    
    <main class="fade-in login-box">
      <h1>Log in</h1>
      <form (ngSubmit)="onSubmit()">
        <div class="input-group">
          <input type="email" placeholder="Email" [(ngModel)]="user.email" name="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
          <img src="assets/landing-page/mail.png" alt="">
        </div>
        <div class="input-group">
          <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password">
          <img src="assets/landing-page/lock.png" alt="">
        </div>
        @if(logInFailed){
          <span class="err-msg">Log in failed.</span>
      } @else {
          <span class="err-msg"></span>
      }
        <div class="button-group">
          <button class="login-btn btn-class" type="submit">Log in</button>
          <button class="guest-btn" type="button" (click)="onGuestLogin()">Guest Log in</button>
        </div>
      </form>
    </main>

    <div class="fade-in signup-mobile">
      <span>Not a Join user?</span>
      <button class="btn-class">Sign up</button>
    </div>
    
    <footer class="fade-in">
      <a class="link" (click)="navigateToPolicy()">Privacy Policy</a>
      <a class="link" (click)="navigateToLegalNotice()">Legal notice</a>
    </footer>
  </div>
  