<section cdkDropListGroup class="content-container">
    <div id="toDo" class="task-list drop-area" cdkDropList [cdkDropListData]="data.toDo" (cdkDropListDropped)="drop($event)">
        <div class="task-list-header">
            <span>To do</span>
            <img src="assets/board/plus-button.png" alt="">
        </div>
        @for (task of data.toDo; track $index) {
            <app-task-item [task]="task" cdkDrag></app-task-item>
         }
    </div>
    <div id="inProgress" class="task-list drop-area" cdkDropList [cdkDropListData]="data.inProgress" (cdkDropListDropped)="drop($event)">
        <div class="task-list-header">
            <span>In progress</span>
            <img src="assets/board/plus-button.png" alt="">
        </div>
        @for (task of data.inProgress; track $index) {
            <app-task-item [task]="task" cdkDrag></app-task-item>
         }
    </div>
    <div id="awaitFeedback" class="task-list drop-area" cdkDropList [cdkDropListData]="data.awaitFeedback"  (cdkDropListDropped)="drop($event)">
        <div class="task-list-header">
            <span>Await feedback</span>
            <img src="assets/board/plus-button.png" alt="">
        </div>
        @for (task of data.awaitFeedback; track $index) {
            <app-task-item [task]="task" cdkDrag></app-task-item>
         }
    </div>
    <div id="done" class="task-list drop-area" cdkDropList [cdkDropListData]="data.done"  (cdkDropListDropped)="drop($event)">
        <div class="task-list-header">
            <span>Done</span>
            <img src="assets/board/plus-button.png" alt="">
        </div>
        @for (task of data.done; track $index) {
            <app-task-item [task]="task" cdkDrag></app-task-item>
         }
    </div>
   
</section>
