<div class="dashboard-container">
  <div class="header">
    <h1><strong>Join 360</strong> <span>| Key Metrics at a Glance</span></h1>
  </div>
  <div class="metrics-grid-container">
    <div class="metrics-grid">
      <div class="dis-flex">
        <div class="metric-card" (click)="onCardClick('To-do')">
          <img src="../../../assets/summary/pencil.png" alt="">
          <div class="info-div">
            <div class="count">1</div>
            <div class="label">To-do</div>
          </div>
        </div>
        <div class="metric-card" (click)="onCardClick('Done')">
          <img src="../../../assets/summary/check.png" alt="">
          <div class="info-div">
            <div class="count">1</div>
            <div class="label">Done</div>
          </div>
        </div>
      </div>
      <div class="metric-card large" (click)="onCardClick('Urgent')">
          <img src="../../../assets/summary/urgent.png" alt="">
          <div class="info-div">
            <div class="count">1</div>
            <div class="label">Urgent</div>
          </div>
        <div class="line"></div>
        <div class="deadline">
          <div class="date"><strong>October 16, 2022</strong></div>
          <div class="subtext">Upcoming Deadline</div>
        </div>
      </div>
      <div class="dis-flex">
        <div class="metric-card" (click)="onCardClick('Tasks in Board')">
          <div class="count">5</div>
          <div class="label">Tasks in Board</div>
        </div>
        <div class="metric-card" (click)="onCardClick('Tasks In Progress')">
          <div class="count">2</div>
          <div class="label">Tasks In Progress</div>
        </div>
        <div class="metric-card" (click)="onCardClick('Awaiting Feedback')">
          <div class="count">2</div>
          <div class="label">Awaiting Feedback</div>
        </div>
      </div>
    </div>
    <div class="greeting">
      <h2>Good morning, <span class="highlight">{{currentUser.name}}</span></h2>
    </div>
  </div>
</div>
