@import "../../../styles.scss";
:host {
  padding: 40px 40px 0px 40px;
  width: 100%;
}
.dashboard-container {
  height: 100vh;
  color: black;
}
h2{
  font-size: 36px;
  font-weight: 400;
}

.header{
  h1 {
    margin-top: 0;
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  div{
    color: $light_blue;
    font-weight: 400;
  }
  span{
    font-size: 24px !important;
    font-weight: 400;
  }
}
.metrics-grid-container {
  display: flex;
  gap: 60px;
  height: 60%;
}
.dis-flex {
  display: flex;
  gap: 20px;
  height: 130px;
}

.metrics-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.metric-card {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  //height: 110px;
}
.metric-card:hover {
    transform: scale(1.05);
    background-color: $main_grey;
    color: white;
  }
.to-do-card:hover{
  img{
    content: url(../../../assets/summary/pencil-hover.png);
  }
}
.done-card:hover{
  img{
    content: url(../../../assets/summary/check-hover.png);
  }
}
.icon{
  height: 70px;
  aspect-ratio: 1/1;
}

.metric-card.large {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.deadline .date {
  font-size: 14px;
}

.greeting {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.greeting .highlight {
  font-size: 40px;
  color: $light_blue;
  font-weight: bold;
}
.count{
    font-size: 40px;
    font-weight: bold;
}
.info-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line{
  border: solid 1px $main_grey;
  height: 90%;
}

@media(max-width: 750px){
  .metrics-grid{
    gap: 10px;
  }
  .dis-flex{
    gap: 10px;
  }
  .icon{
    height: 50px;
  }
  .metric-card{
    padding: 7px;
  }
}
@media(max-width: 600px){
  .greeting{
    display: none;
  }
  .metrics-grid-container{
    justify-content: center;
  }
  .metrics-grid{
    width: 100%;
  }
  .metric-card{
    padding: 30px;
  }
  h1{
    margin-bottom: 0;
  }
}