<div class="dashboard-container">
  <div class="header">
    <h1><strong>Join 360</strong>
      <div>|</div>
       <span>Key Metrics at a Glance</span>
       <article></article>
    </h1>
  </div>

  <div class="metrics-grid-container">
    <div class="metrics-grid">
      <div class="dis-flex">
        <div class="metric-card to-do-card" (click)="onCardClick()">
          <img class="icon" src="../../../assets/summary/pencil.png" alt="">
          <div class="info-div">
            <div class="count">{{boardData.toDo.length}}</div>
            <div class="label">To-do</div>
          </div>
        </div>

        <div class="metric-card done-card" (click)="onCardClick()">
          <img class="icon" src="../../../assets/summary/check.png" alt="">
          <div class="info-div">
            <div class="count">{{boardData.done.length}}</div>
            <div class="label">Done</div>
          </div>
        </div>
      </div>

      <div class="metric-card large" (click)="onCardClick()">
          <img class="icon" src="../../../assets/summary/urgent.png" alt="">
          <div class="info-div">
            <div class="count">{{getNumberOfUrgentTasks()}}</div>
            <div class="label">Urgent</div>
          </div>

        <div class="line"></div>
        <div class="deadline">
          <div class="date"><strong>{{getUpcomingDate()}}</strong></div>
          <div class="subtext">Upcoming Deadline</div>
        </div>
      </div>

      <div class="dis-flex">
        <div class="metric-card" (click)="onCardClick()">
          <div class="info-div">
            <div class="count">{{boardData.tasks.length}}</div>
            <div class="label">Tasks in Board</div>
          </div>
        </div>

        <div class="metric-card" (click)="onCardClick()">
          <div class="info-div">
            <div class="count">{{boardData.inProgress.length}}</div>
            <div class="label">Tasks In Progress</div>
          </div>
        </div>

        <div class="metric-card" (click)="onCardClick()">
          <div class="info-div">
            <div class="count">{{boardData.awaitFeedback.length}}</div>
            <div class="label">Awaiting Feedback</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="greeting">
      <h2>Good morning,
        <br>
        <span class="highlight">{{currentUser.name}}</span>
      </h2>
    </div>
  </div>
</div>
