@import '../../../../styles.scss';

:host {
  flex-grow: 1;
  height: 100%;
}

.contact-card {
  padding-top: 100px;
  padding-left: 70px;
  height: 100%;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  position: relative;
}

.contact-title-div {
  @include dFlex(row, flex-start, center);
  gap: 20px;

  >.line {
    height: 59px;
    width: 3px;
    background-color: #29abe2;
  }
}

.line-mobile {
  display: none;
  padding-top: 20px;
  width: 85px;
  border-bottom: 3px solid #29abe2;

}

.back-img {
  display: none;
}

.title {
  display: flex;
  align-items: center;
  top: 206px;
  left: 743px;
  gap: 30px;
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
  letter-spacing: 0%;
  color: black;

}

.subtitle {
  font-family: Inter;
  font-weight: 400;
  font-size: 27px;
  line-height: 32.4px;
  letter-spacing: 0%;
  color: black;
}

.contact-header {
  display: flex;
  align-items: center;
  margin-top: 12px;
  width: 287;
  height: 88;
  gap: 54px;
}

.avatar {
  width: 120px;
  height: 120px;
  gap: 10px;
  border-width: 3px;
  border-radius: 70px;
  background-color: orange;
  color: white;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.contact-name h3 {
  margin: 0;
  color: black;
  font-weight: 500;
  font-size: 47px;
  line-height: 56.4px;
  letter-spacing: 0%;
}

.actions {
  @include dFlex(row, flex-start, center);
  width: 159;
  height: 24;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
  color: gray;
  gap: 25px;

  .edit,
  .delete {
    display: flex;
    gap: 10px;
  }
}

.actions span {
  width: 159;
  height: 24;
  cursor: pointer;
  margin-right: 8px;
}

.contact-info {
  margin-top: 16px;
  color: black;

  >h4 {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  >p {
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0%;
  }
}

.email {
  cursor: pointer;
  color: #29abe2;
  text-decoration: underline;
}

.delete:hover {
  cursor: pointer;
  color: #29abe2;

  >img {
    content: url('./../../../../assets/contacts/delete_hover.png');
    width: 16px;
    height: 18px;
  }
}

.options {
  display: none;
  position: absolute;
  bottom: 35px;
  right: 25px;
  z-index: 20;
}

.actions-mobile {
  display: none;
  position: fixed;
  bottom: 120px;
  right: 20px;
  transition: transform 0.5s ease-in-out;
  transform: translateX(150%);
  z-index: 30;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-shadow: -4px 0px 4px 0px #000000;
  box-shadow: -4px 0px 4px 0px rgba($color: #000000, $alpha: .25);
  color: black;
  padding: 15px;
  @include dFlex(column, flex-start, flex-start);
  gap: 15px;

  .delete {
    display: flex;
    gap: 14px;
  }
}

@media(max-width: 1025px){
  .contact-card {
    padding-left: 30px;
  }
}

@media(max-width: 900px){
  .contact-title-div {
    @include dFlex(column, flex-start, flex-start);
    gap: 0;
  }

  .contact-info {
    >h4 {
      margin: 0;
    }
  }

  .line {
    display: none;
  }

  .line-mobile {
    display: block;
  }

  .title {
    margin: 0;
  }

  .contact-header {
    gap: 20px;
  }


}

@media(max-width: 600px) {
  .back-img {
    display: block;
  }

  .contact-card {
    @include dFlex(column, flex-start, flex-start);
    overflow: hidden;
    padding: 20px 20px 0 20px;
    gap: 20px;
    height: calc(100% - 20px);
  }

  .actions {
    display: none;
  }

  .contact-card-title {
    @include dFlex(row, space-between, flex-start);
    width: 100%
  }

  .contact-title-div {
    @include dFlex(column, flex-start, flex-start);
    gap: 0;
  }

  .contact-info {
    >h4 {
      margin: 0;
    }
  }

  .line {
    display: none;
  }

  .line-mobile {
    display: block;
  }

  .title {
    margin: 0;
  }

  .contact-name h3 {
    font-size: 36px;
    font-weight: bold;
  }

  .contact-header {
    gap: 5px;
  }

  .options {
    display: block;
  }

  .actions-mobile{
    display: flex;
  }
}