<div class="contact-card">
  <h2 class="title">Contacts <div class="line"></div> <span class="subtitle">Better with a team</span></h2>
@if(selectedContact!=null){
  <div class="contact-header">
    <div class="avatar">{{ selectedContact?.initials }}</div>
    <div class="contact-name">
      <h3>{{ selectedContact?.name }} {{ selectedContact?.surname }}</h3>
      <div class="actions">
        <div class="edit" (click)="editContact()">
          <app-edit-contact [currentContact]="selectedContact" (deleteContactEvent)="deleteContact()"></app-edit-contact>
            <img src="assets/contacts/edit.png" alt="">
          <span>Edit</span>
        </div>
        <div class="delete" (click)="deleteContact()">
          <img src="assets/contacts/delete.png" alt="">
          <span>Delete</span>
        </div>
        
      </div>
    </div>
  </div>

  <div class="contact-info">
    <h4>Contact Information</h4>
    <p><strong>Email</strong></p>
    <p class="email">{{ selectedContact?.email }}</p>
    <p><strong>Phone</strong></p>
    <p>{{ selectedContact?.phone }}</p>
  </div>
  }
</div>