<div class="task-form">
  <h2>Add Task</h2>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="split">
      <div>
        <div class="form-group">
          <label for="title">Title<span>*</span></label>
          <input
            id="title"
            formControlName="title"
            type="text"
            placeholder="Enter a title"
          />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            id="description"
            formControlName="description"
            placeholder="Enter a Description"
          ></textarea>
        </div>

        <div class="form-group"> <!--
          <label for="assigned">Assigned to</label>
          <select id="assigned" multiple formControlName="assigned">
            <option value="" disabled selected>Select contact to assign</option>
            @for (user of users; track $index) {
              <option value="{{user.name}}">
                {{user.name}}
              </option>
            } 
            
            <option *ngFor="let user of users" [value]="user.id">
              {{ user.name }}
            </option>
            
          </select>-->

          <mat-form-field appearance="outline">
           <mat-label for="assigned">Assigned to</mat-label>
            <mat-select id="assigned" formControlName="assigned" multiple>
              @for (user of getUserList(); track $index) {
                <mat-option [value]="user.id">
                  {{user.name}} {{user.surname}}
                </mat-option>
              }  
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="line"></div>

      <div>
        <div class="form-group">
          <label for="dueDate">Due date<span>*</span></label>
          <input id="dueDate" formControlName="dueDate" type="date" />
        </div>

        <div class="form-group">
          <label>Prio</label>
          <button type="button" (click)="setPriority('Urgent')">Urgent</button>
          <button type="button" (click)="setPriority('Medium')">Medium</button>
          <button type="button" (click)="setPriority('Low')">Low</button>
        </div>

        <div class="form-group">
          <label for="category">Category<span>*</span></label>
          <select id="category" formControlName="category">
            <option value="" disabled selected>Select task category</option>
            @for (category of categories; track $index) {
              <option value="{{category}}">
                {{category}}
              </option>
            }
            <!--
            <option *ngFor="let cat of categories" [value]="cat">
              {{ cat }}
            </option>+-->
          </select>
        </div>
        <div class="form-group">
          <label for="subtasks">Subtasks</label>
          <input
            id="subtasks"
            formControlName="subtasks"
            type="text"
            placeholder="Add new subtask"
          />
        </div>
      </div>
    </div>

    <div class="form-actions">
      <button type="button" (click)="onClear()">Clear</button>
      <button type="submit">Create Task</button>
    </div>
  </form>
</div>
