<div class="task-form">
  <h2>Add Task</h2>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="split">
      <div class="form-column">
        <div class="form-group">
          <label for="title">Title<span>*</span></label>
          <input
            id="title"
            formControlName="title"
            type="text"
            placeholder="Enter a title"
          />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            id="description"
            formControlName="description"
            placeholder="Enter a Description"
          ></textarea>
        </div>

        <div class="form-group"> 
          <label for="assigned">Assigned to</label><!--
          <select id="assigned" multiple formControlName="assigned">
            <option value="" disabled selected>Select contact to assign</option>
            @for (user of users; track $index) {
              <option value="{{user.name}}">
                {{user.name}}
              </option>
            } 
          </select>-->

          <mat-form-field appearance="outline">
           <mat-label for="assigned">Assigned to</mat-label>
            <mat-select id="assigned" formControlName="assigned" multiple>
              @for (user of getUserList(); track $index) {
                <mat-option [value]="user.id">
                  {{user.name}} {{user.surname}}
                </mat-option>
              }  
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="line"></div>

      <div class="form-column">
        <div class="form-group">
          <label for="dueDate">Due date<span>*</span></label>
          <input id="dueDate" formControlName="dueDate" type="date" />
        </div>

        <div class="form-group">
          <label>Prio</label>
          <div class="priority-buttons">
          <button class="priority-button" type="button" id="urgent" (click)="setPriority('Urgent')">Urgent <img src="../../../assets/board/urgent.png" alt=""></button>
          <button class="medium priority-button" type="button" id="medium" (click)="setPriority('Medium')">Medium <img src="../../../assets/board/medium.png" alt=""></button>
          <button class="priority-button" type="button" id="low" (click)="setPriority('Low')">Low <img src="../../../assets/board/low.png" alt=""></button>
          </div>
        </div>

        <div class="form-group">
          <label for="category">Category<span>*</span></label>
          <select id="category" formControlName="category">
            <option value="" disabled selected>Select task category</option>
            @for (category of categories; track $index) {
              <option value="{{category}}">
                {{category}}
              </option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="subtasks">Subtasks</label>
          <input
            id="subtasks"
            formControlName="subtasks"
            type="text"
            placeholder="Add new subtask"
          />
        </div>
      </div>
    </div>

    <div class="form-actions">
      <button type="button" (click)="onClear()">Clear</button>
      <button type="submit">Create Task</button>
    </div>
  </form>
</div>
