@import '../../../../../styles.scss';

section {
    background-color: white;
    color: #2A3647;
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 262px);
    width: 525px;
    border-radius: 30px;
    padding: 48px 40px 48px 40px;
    z-index: 50;
    @include dFlex(column, flex-start, flex-start);
    gap: 25px;
    max-height: 700px;
    overflow-y: scroll;
}

.header{
    @include dFlex(row, space-between, center);
    width: 100%;
}

.close-btn{
    @include dFlex(row, center, center);
    padding: 3px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    &:hover{
        cursor: pointer;
        background-color: rgb(224, 224, 224);
    }
}

.category {
    color: white;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    font-size: 23px;
}

h2 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

span {
    font-size: 20px;
}

.prio,
.date {
    @include dFlex();

    span {
        width: 150px;
        padding-right: 20px;
    }
}

.assigned{
    @include dFlex(column, flex-start, flex-start);
    gap: 20px;
}

.user {
    @include dFlex();
    gap: 10px;
    padding-left: 20px;
}

.initials {
    width: 42px;
    height: 42px;
    border-width: 2px;
    font-size: 12px;
    border-radius: 50%;
    @include dFlex();
    color: white;
}

.subtasks{
    @include dFlex(column, flex-start, flex-start);
    gap: 10px;
}

.subtask-item{
    @include dFlex();
    gap: 10px;
    padding-left: 20px;
    font-size: 16px;
}

.check{
    &:hover{
        cursor: pointer;
    }
}

.edit-delete{
    width: 100%;
    @include dFlex(row, flex-end, center);
    gap: 15px;
}

.edit, .delete{
    @include dFlex();
    gap: 10px;

    &:hover{
        cursor: pointer;
    }
}

.edit:hover {
    color: #29abe2;
    >img {
      content: url('../../../../../assets/contacts/edit_hover.png');
    }
  }
  
  .delete:hover {
    color: #29abe2;
    >img {
      content: url('../../../../../assets/contacts/delete_hover.png');
    }
  }

.line{
    height: 25px;
    border-left: 1px solid rgb(191, 191, 191);
}



